@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Open+Sans&display=swap");

body {
  font-family: "DM Sans", sans-serif;
  font-family: "Open Sans", sans-serif;
  background-color: aliceblue;
  color: rgb(80, 80, 80);
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blog-tags {
  @apply bg-orange-300 first:ml-0 mx-1 p-1 rounded-md text-sm cursor-pointer;
}

pre {
  @apply px-10 py-10 bg-gray-200 rounded-md my-3;
  word-wrap: break-word;
  overflow-x: auto;
}

pre code {
  @apply text-sm font-mono;
}

.blog-content {
  line-height: 35px;
  font-size: 20px;
}

.blog-content a {
  text-decoration: underline;
}

.blog-content figcaption {
  @apply text-sm text-center;
  margin: 10px 0;
}

.blog-content h1 {
  @apply my-[40px];
  font-size: 24px;
  font-weight: bold;
}

.blog-content h2 {
  @apply my-[40px];
  font-size: 20px;
  font-weight: bold;
}

.blog-content h3 {
  @apply my-[40px];
  font-size: 22px;
  font-weight: bold;
}

.blog-content p {
  margin-bottom: 1em;
}

.blog-content figure {
  margin: 40px 0;
  width: 100%;
}

.blog-content blockquote {
  @apply my-[40px] italic;
  border-left: 3px solid rgb(80, 80, 80);
  padding-left: 10px;
  margin-bottom: 20px;
}

.blog-content h4 {
  @apply my-[40px];
  font-size: 22px;
  font-weight: bold;
}

.blog-content ol {
  list-style-type: decimal;
  margin-left: 3rem;
}

.blog-content ul {
  list-style-type: disc;
  margin-left: 3rem;
}

.blog-content ol li,
.blog-content ul li {
  @apply my-[15px];
}

.container {
  @apply max-h-[80vh] h-[80vh] xl:pt-[1cm] lg:pt-[1cm] sm:pt-0;
}

.name {
  @apply text-6xl;
  font-weight: bold;

  background-image: linear-gradient(120deg, #1d98a9 0%, #13cdb7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

h1 {
  @apply text-5xl font-bold text-black;
}

.sectioned {
  @apply mx-auto sm:px-[1cm] xl:max-w-[50vw] lg:max-w-[70vw] md:max-w-[90vw] sm:max-w-[100vw] py-10 px-10 py-[20px];
  @apply lg:first:mt-[20px] xl:first:mt-[20px] lg:last:mb-[20px] xl:last:mb-[20px];
  @apply bg-white;
}

.button {
  @apply text-white text-sm px-[24px] py-[12px] border-2 border-transparent mx-[5px] first:ml-0 last:mr-0;
  @apply odd:bg-blue-500;
  @apply even:border-black even:text-black;
  @apply even:hover:bg-blue-500 even:hover:border-transparent even:hover:text-white;
  @apply transition ease-in-out duration-[1s];
  @apply hover:border-2 hover:border-blue-600 hover:border-black hover:bg-transparent transition hover:text-black;
}
