@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blog-tags {
  @apply bg-orange-300 first:ml-0 mx-1 p-1 rounded-md text-sm cursor-pointer;
}

body {
  font-family: "Inter", sans-serif;
}

pre {
  @apply p-4 bg-gray-100 rounded-md;
}

pre code {
  @apply text-sm font-mono;
}

.blog-content {
  @apply w-[60vw] m-auto;
}

.blog-text {
  line-height: 1cm;
}
